


.breadcrumbs__list{
    display: flex;
    align-items: center;
}

.breadcrumbs__item{
    color: #9A9A9A;
    font-size: 14px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.breadcrumbs__item:hover{
    font-weight: bold;
}

.breadcrumbs__item--active{
    font-weight: bold;
}

.breadcrumbs__item:after{
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after{
    display: none;
}