.central__logo{
    background: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 65px;
}

.central{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}