footer .logo{
    margin-right: 130px;
    padding-bottom: 10px;
}

footer .menu{
    font-size: 16px;
    margin-right: 40px;
    padding-top: 5px;
}

footer .contacts{
    top: 10px;
}

.footer{
    height: 150px;
    padding-top: 40px;
}

.footer-main{
    border-top: 1px solid #353538;
    width: 1140px;
    margin: 0 auto;
}

.footer--games{
    height: 135px;
}

.footer--reviews{
    height: 135px;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__col{
    display: flex;
}




