.partners{
    color: #1A1B1E;
    padding: 80px 0;
}

.partners--bggrey{
    background: #F4F5F5;
}

.partners__title{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 52px;
}

.partners__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partners__link{
    width: 230px;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners__link:hover{
    filter: grayscale(0);
}

