.socials__link{
    text-decoration: none;
    height: 36px;
    width: 36px;
}

.socials__item{
    display: inline-flex;
    margin-right: 6px;
}

.socials{
    padding-bottom: 7px;
}

.socials__item:last-child{
    margin-right: 0;
}

.socials__item .socials__link--instagram{
    background: url(../../img/sprites.png) -10px -122px;
}

.socials__item .socials__link--instagram:hover{
    background: url(../../img/sprites.png) -66px -122px;
}

.socials__item .socials__link:hover:before {
    opacity: 1;
 }
  
 .socials__item .socials__link:hover:after {
    opacity: 0;
 }


.socials__item .socials__link--telegram:after {
    content: '';
    position: absolute;
    display: inline-flex;
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -10px -10px;
    transition: .5s;
 }

 .socials__item .socials__link--telegram:before{
    content: '';
    position: absolute;
    display: inline-flex;
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -66px -10px;
    transition: .5s;
    opacity: 0;
 }

 .socials__item .socials__link--vk:after {
    content: '';
    position: absolute;
    display: inline-flex;
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -10px -66px;
    transition: .5s;
 }

 .socials__item .socials__link--vk:before{
    content: '';
    position: absolute;
    display: inline-flex;
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -66px -66px;
    transition: .5s;
    opacity: 0;
 }

 .socials__item .socials__link--facebook:after {
    content: '';
    position: absolute;
    display: inline-flex;
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -122px -10px;
    transition: .5s;
 }

 .socials__item .socials__link--facebook:before{
    content: '';
    position: absolute;
    display: inline-flex;
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -122px -66px;
    transition: .5s;
    opacity: 0;
 }

 .socials__item .socials__link--instagram:after {
    content: '';
    position: absolute;
    display: inline-flex;
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -10px -122px;
    transition: .5s;
 }

 .socials__item .socials__link--instagram:before{
    content: '';
    position: absolute;
    display: inline-flex;
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -66px -122px;
    transition: .5s;
    opacity: 0;
 }

  